<html>
<head>
	<title>Landing Page</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"> 
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
	<nav class="navbar navbar-default">
	<ul>
		<li id="camp"><a href="/"><i class="fas fa-campground">YelpCamp</i></a></li>
		<li><a href="/campgrounds"> <i class="fas fa-home">Home</i></a></li>
		<% if(!currentUser){ %>
			<li><a href="/login"> <i class="fas fa-user">Login</i></a></li>
			<li><a href="/register"> <i class="fas fa-users">SignUp</i></a></li>
		<% } else { %>
			<li><a href="#">Welcome <%= currentUser.username %></a></li>	
			<li><a href="/logout">Logout</a></li>
		<% } %>
	</ul>
	</nav>


	<% if(error && error.length > 0){ %>
	<div class="container">
		<div class="alert alert-danger" role="alert"><%= error %></div>
	</div>
	<%} %>
	<% if(success && success.length > 0){ %>
	<div class="container">
		<div class="alert alert-success" role="alert"><%= success %></div>
	</div>
	<% } %>
	
	
	